image/
__pycache__
**/build/
**/*.egg-info/
**/dist/
*.so
*.pth
*.log
events.out.tfevents.*
result
weights
data
*log*
outputs/
.vscode
.idea
*/.DS_Store
**/*.out
Dockerfile
ai
mamba
*.plytest-5080_54400_pred.ply
